body {
  background:linear-gradient(45deg, black, red, rgb(170, 249, 2), black) ;
  height: 600px
}

#container {
  width: 450px; height: 450px;
  position: relative;
  margin-left: 30%;
  border: solid 1px;
  display: grid; 
  grid-template-columns: repeat(3, 150px);
  grid-auto-rows: auto;
  background: radial-gradient(rgb(239, 239, 3), red, black, rgb(1, 1, 54))
  
}
.btns {
  max-width: 150px;  height: 150px ;
  opacity: 20%;
  border: solid black 2px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 100px;
  font-weight: bolder;
  
}
#parr {
font-size: 30px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: bolder;
color: yellow;
text-align: center;
border-radius: 5px;
}


